.filter-section {
    padding: 20px;
    background-color: #F5F5F5;
    text-align: center;
}

.events-list {
    padding: 20px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta según tus necesidades */
    gap: 20px;
}

@media (max-width: 768px) {
    .events-grid {
        grid-template-columns: 1fr; /* Ajusta según tus necesidades */
    }
}

/* Nueva clase para el mensaje de advertencia */
.alert-warning {
    padding: 15px;
    margin: 20px 0;
    background-color: #FF9800; /* Fondo naranja */
    color: #333; /* Texto oscuro */
    border: 1px solid #FFA726; /* Borde naranja claro */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
}
