.navbar {
    background-color: #333; /* Color de fondo oscuro para contraste */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-image {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 20px; /* Espacio entre enlaces */
    transition: max-height 0.3s ease-out;
}

.nav-links a {
    text-decoration: none;
    color: #ddd; /* Color de letra más claro */
    background-color: #444; /* Fondo ligeramente más claro para cada enlace */
    padding: 10px 15px;
    border-radius: 10px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave para efectos hover */
}

.nav-links a:hover, .nav-links a:focus {
    color: #fff; /* Color de letra blanco al pasar el ratón */
    background-color: #555; /* Fondo más claro al pasar el ratón */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: revert;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .nav-links.open {
        max-height: 500px; /* Altura suficiente para mostrar todos los enlaces */
    }

    .menu-toggle {
        display: block;
    }
}
