html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Cambiado de 100% a 100vh para asegurar que ocupa toda la ventana */
}

.content {
    flex: 1;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer {
        padding: 10px;
        font-size: 14px;
    }
}