.account-menu {
    position: relative;
}

.account-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Añade bordes redondeados */
}

.account-button:hover {
    background-color: #555;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Define un ancho mínimo */
}

.dropdown-menu a,
.dropdown-menu button {
    color: #ddd;
    background: none;
    border: none;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    text-decoration: none; /* Remueve el subrayado de los enlaces */
    transition: background-color 0.3s ease;
    display: block; /* Asegura que los elementos ocupen toda la anchura disponible */
    width: 100%; /* Asegura que el botón ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background-color: #555;
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: revert;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .nav-links.open {
        max-height: 500px; /* Altura suficiente para mostrar todos los enlaces */
    }

    .menu-toggle {
        display: block;
    }

    .dropdown-menu {
        position: static;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown-menu a,
    .dropdown-menu button {
        background-color: #444;
        margin: 5px 0;
    }
}
