.event-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #f8f8f8; /* Fondo ligero para el área de filtros */
    border-radius: 8px; /* Bordes redondeados para el contenedor de filtros */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.event-filters input[type="text"],
.event-filters input[type="date"] {
    padding: 10px;
    border: 2px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados para los inputs */
    font-size: 16px; /* Tamaño de fuente accesible */
    width: calc(50% - 22px); /* Ancho ajustado para mantener el padding y gap */
}

.event-filters button {
    padding: 10px 20px;
    background-color: #007bff; /* Fondo azul para el botón */
    color: white;
    border: none;
    border-radius: 4px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cursor de mano para indicar acción */
    font-size: 16px; /* Tamaño de fuente coherente con los inputs */
    transition: background-color 0.3s; /* Transición para efecto visual al hacer hover */
}

.event-filters button:hover {
    background-color: #0056b3; /* Cambio de color al hacer hover para mayor interacción */
}